/*This to import fonts from a particular folder after downloading that font*/
@font-face {
    
    src: url(fonts/Playball-Regular.ttf);
    font-family:mea;

}
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


.heading
{
    width: 100%;
    height: 120vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.5)),url(./images/cupcake\ \(2\).jpg) ;
    background-size: cover;
    background-position: center;
    
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);/*used to clip the path or imag*/
}
.navbar
{   
    width: 100%;
    height: 8vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.75));
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar h2
{
    font-family: mea;
    font-size: 2.5rem;
    margin-left: 20px;
    color: rgb(255, 174, 0);
}

header .navbar ul li
{
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/*used for transition after hover*/
header .navbar ul li::after
{
    position: absolute;
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 196, 0);
    left: 0;
    bottom: -10px;
   
    
}
header .navbar ul li:hover::after
{
    width: 100%;
}
header .navbar ul li a:hover
{
   font-size: 2rem;
   color:rgb(255, 255, 255);
  
}

header .navbar ul li a
{
    padding: 7px 8px;
    margin: 2px 6px;
    color:#fff;
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
}

.home 
{
    color: white;
    padding: 70px 10px;
    margin: 210px 40px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-flow: column;
    max-width: 400px;
    font-size: 1.4rem;
   
}
/*For styling button */
.home .btn
{
    width: 50%;
    color: rgb(255, 255, 255);
    height: 100%;
    background:linear-gradient(rgba(216, 214, 214, 0.3),rgba(0,0,0,0.1));
    padding: 10px 9px;
    margin: 5px 70px;
    font-size: 1.4rem;
    font-weight: bolder;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.home .btn:hover
{
    color:rgb(255, 196, 0);
    border: 4px solid rgb(250, 207, 17);
    font-size: 1.5rem;
    background: black;
}
.home h1 {
    font-size: 3rem;
    font-family: mea;
}
.home p{
   font-family:mea;
   text-align: justify;
}
